asgiref==3.3.4
astroid==2.5.6
bitstring==3.1.7
cffi==1.14.5
colorama==0.4.4
cryptography==3.4.7
Django==3.2.3
djangorestframework-jwt==1.11.0
ecdsa==0.16.1
esptool==3.0
gunicorn==20.1.0
isort==5.8.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
pycparser==2.20
pygame==2.0.1
PyJWT==1.7.1
pylint==2.8.2
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQt5Designer==5.14.1
pyserial==3.5
python-decouple==3.4
pytz==2021.1
reedsolo==1.5.4
six==1.16.0
sqlparse==0.4.1
toml==0.10.2
whitenoise==5.2.0
wrapt==1.12.1
